*{
    background-image: url('../images/linear-world-map-creative-world-map-concept-art-world-map-on-black-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

title {
    color: white!important;
}

h1 {
    color: white;
}