
body{
    background-image: url('../images/linear-world-map-creative-world-map-concept-art-world-map-on-black-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



button {
    margin-top: 10px!important;
}

.resp-div {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: 0;

}